@property --max-columns {
  syntax: "<number>";
  inherits: false;
  initial-value: 12;
}

@property --columns {
  syntax: "<number>";
  inherits: false;
  initial-value: 12;
}

@property --gap {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 5px;
}

.DFV-grid {
	&-container {
		display: grid;
		grid-template-columns: repeat(var(--max-columns), minmax(0, 1fr));
		gap: var(--gap);
	}

	&-element {
		grid-column: span var(--columns)  / span var(--columns);
	}

	&-form {
		display: flex;
		flex-direction: column;
	}

	&-input {
		display: flex;
		flex-direction: column;
	}
}

.DFV-template_check.DFV-grid-element {
	display: flex;
	flex-direction: column;
	gap: var(--gap);

	> small {
		display: inline-block;
		line-height: 1.2em;

		&:empty {
			min-height: 1.2em;
		}
	} 
}