:root {
  --DFV-color-white: #ffffff;

  --DFV-color-gray-50:  #f9fafb;
  --DFV-color-gray-100: #f3f4f6;
  --DFV-color-gray-200: #e5e7eb;
  --DFV-color-gray-300: #d1d5db;
  --DFV-color-gray-400: #9ca3af;
  --DFV-color-gray-500: #6b7280;
  --DFV-color-gray-600: #4b5563;
  --DFV-color-gray-700: #374151;
  --DFV-color-gray-800: #1f2937;
  --DFV-color-gray-900: #111827;

  --DFV-color-blue-50:  #eff6ff;
  --DFV-color-blue-100: #dbeafe;
  --DFV-color-blue-200: #bfdbfe;
  --DFV-color-blue-300: #93c5fd;
  --DFV-color-blue-400: #60a5fa;
  --DFV-color-blue-500: #3b82f6;
  --DFV-color-blue-600: #2563eb;
  --DFV-color-blue-700: #1d4ed8;
  --DFV-color-blue-800: #1e40af;
  --DFV-color-blue-900: #1e3a8a;

  --DFV-color-slate-50:  #f8fafc;
  --DFV-color-slate-100: #f1f5f9;
  --DFV-color-slate-200: #e2e8f0;
  --DFV-color-slate-300: #cbd5e1;
  --DFV-color-slate-400: #94a3b8;
  --DFV-color-slate-500: #64748b;
  --DFV-color-slate-600: #475569;
  --DFV-color-slate-700: #334155;
  --DFV-color-slate-800: #1e293b;
  --DFV-color-slate-900: #0f172a;

  --DFV-color-red-50:  #fef2f2;
  --DFV-color-red-100: #fee2e2;
  --DFV-color-red-200: #fecaca;
  --DFV-color-red-300: #fca5a5;
  --DFV-color-red-400: #f87171;
  --DFV-color-red-500: #ef4444;
  --DFV-color-red-600: #dc2626;
  --DFV-color-red-700: #b91c1c;
  --DFV-color-red-800: #991b1b;
  --DFV-color-red-900: #7f1d1d;
}
