:root {
	--DFV-radius-sm: 0.5rem;
	--DFV-transition-fast: 140ms ease;

	--DFV-color-white: #ffffff;
	--DFV-color-text-strong: #1f2937;
	--DFV-color-text-muted: #334155;

	--DFV-color-neutral-200: #cbd5e1;
	--DFV-color-neutral-300: #94a3b8;
	--DFV-color-neutral-50: #f8fafc;
	--DFV-color-neutral-100: #f1f5f9;
	--DFV-color-neutral-150: #e2e8f0;

	--DFV-color-primary-500: #d4ac24;
	--DFV-color-primary-600: #b38f1f;
	--DFV-color-primary-400: #e1bc3f;
	--DFV-color-primary-700: #c29b1d;
	--DFV-color-primary-focus: #f2dc92;

	--DFV-color-danger-600: #b42318;
	--DFV-color-danger-700: #9f1d15;
	--DFV-color-danger-800: #7f1d1d;
	--DFV-color-danger-focus: #fda4af;
}
